@tailwind base;
@tailwind components;
@tailwind utilities;

/* Project base overrides */
:root {
  --bg: #0b1220;
}

html, body, #root {
  height: 100%;
}

body {
  @apply antialiased text-gray-900 bg-white;
  margin: 0;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

code {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, 'Roboto Mono', 'Courier New', monospace;
}
